.slider {
    height: 250px;   
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.slide img {
    width: 100%;
    border-radius: 10px;
}
/* Auto scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    } 
    100% {
        transform: translateX(calc(-250px * 9));
    }
}